<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">📚 Bibliothèque</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'emprunts_list' %}">Mes emprunts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8001/catalogue/">Catalogue</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin/">⚙️ Admin</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
